.mainContainer {
    --gradient: linear-gradient(110deg, rgba(0, 255, 232, 1) 0%, rgba(255, 0, 160, 1) 100%);
    display: grid;
    min-height: 100dvh;
    place-items: center;
    background: var(--gradient);
}

.outerContainer {
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 0 15px 0 white;
    display: flex;
    gap: 30px;
    max-width: 400px;
    margin-inline: 20px;
    overflow: hidden;
    background-color: white;
    transition: .2s;
    height: 400px;
}

.outerContainer>* {
    transition: .2s;
    min-width: 100%;
}

.slide>* {
    transform: translateX(calc(-100% - 30px));
}

.loginProviderContainer {
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: min-content;
    justify-content: center;
    row-gap: 20px;
    text-align: center;
}

.loginProviderContainer>*:not(h3) {
    height: 50px;
    cursor: pointer;
}

.form {
    display: grid;
}

.formContainer {
    align-self: center;
    justify-self: center;
    justify-items: center;
    max-width: 280px;
}

.formContainer>* {
    height: 40px;
}

.formContainer>.input {
    margin-bottom: 40px;
}

.formContainer>button {
    margin-bottom: 10px;
}

.input>input {
    font-family: 'Varela Round';
    font-size: 18px;
    padding-left: 10px;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 1;
    outline: none;
    box-shadow: 0 2px 0 0 gray;
    height: 100%;
    box-sizing: border-box;
}

.placeHolder {
    padding-left: 10px;
    display: flex;
    align-items: center;
    z-index: -1;
    transform: translateY(-100%);
    transition: .2s;
    color: gray;
    height: 100%;
}

input:not(:placeholder-shown)~.placeHolder {
    transform: translateY(-150%);
    font-size: 10px;
}

.form button {
    font-family: 'Varela Round';
    width: 100%;
    background: var(--gradient);
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.errorLabel {
    color: red;
}

.switchButton {
    cursor: pointer;
    height: auto;
    text-align: center;
    color: gray;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.backButton {
    position: absolute;
    aspect-ratio: 1;
    cursor: pointer;
    fill: gray;
    width: 0;
}

.slide .backButton {
    width: 20px;
}