.header {
    /* height: 84px; */
    background-color: lightgray;
    display: grid;
}

.main {
    flex-grow: 1;
    display: flex;
}

.counterContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;
    font-size: 21vw;
    font-weight: bold;
    text-shadow: .3vw .3vw 1.1vw;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    align-items: center;
}

.teamName {
    font-size: 3.65vw;
    font-family: 'Varela Round';
    text-shadow: none;
}

.slidingDigitContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25vw;
    width: 70%;
}

.digitContainer {
    width: 100%;
    overflow: hidden;
    line-height: 25vw;
    text-align: center;
    font-family: 'Moirai One';
}

.timerContainer {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: clamp(30px, 3.13vw, 60px);
    height: max-content;
    padding-right: 10px;
}

.timeRemaining {
    width: clamp(100px, 13vw, 250px);
    text-align: right;
}

.overTime {
    color: red;
}